Help on module models:

NAME
    models

CLASSES
    sqlalchemy.orm.decl_api.Model(flask_sqlalchemy.model.Model)
        Companies
        Industries
        Sectors
    
    class Companies(sqlalchemy.orm.decl_api.Model)
     |  Companies(**kwargs)
     |  
     |  Every column is a string due to symbols coming through from the external source
     |  Having the percentages and abbreviated large values makes things cleaner
     |  
     |  Ticker = ticker of the stock, what we use as the key
     |  
     |  Name = name of the stock, must be present
     |  
     |  Image = photo of the companies logo, must be present
     |  
     |  Price = price of the stock, must be present
     |  
     |  marketCap = value of the company, must be present
     |  
     |  volume = number of shares traded in one day, must be present
     |  
     |  sector_name = the overarching category of the company
     |  Use the foreign key of sectors.name from the sectors table
     |  
     |  industry_name = the subcategory of the company
     |  Use the foreign key of industries.name from the industries table
     |  
     |  Method resolution order:
     |      Companies
     |      sqlalchemy.orm.decl_api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  image
     |  
     |  industry_name
     |  
     |  marketCap
     |  
     |  name
     |  
     |  price
     |  
     |  sector_name
     |  
     |  ticker
     |  
     |  volume
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x2411a0e46d0; Companies>
     |  
     |  __table__ = Table('companies', MetaData(), Column('ticker', ...dustrie...
     |  
     |  __tablename__ = 'companies'
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  query
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  __abstract__ = True
     |  
     |  __fsa__ = <SQLAlchemy>
     |  
     |  metadata = MetaData()
     |  
     |  query_class = <class 'flask_sqlalchemy.query.Query'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with some extra methods
     |      useful for querying in a web application.
     |      
     |      This is the default query class for :attr:`.Model.query`.
     |      
     |      .. versionchanged:: 3.0
     |          Renamed to ``Query`` from ``BaseQuery``.
     |  
     |  
     |  registry = <sqlalchemy.orm.decl_api.registry object>
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self) -> 'str'
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  __weakref__
     |      list of weak references to the object (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __annotations__ = {'__fsa__': 't.ClassVar[SQLAlchemy]', 'query': 't.Cl...
    
    class Industries(sqlalchemy.orm.decl_api.Model)
     |  Industries(**kwargs)
     |  
     |  name = name of the industry, must be present
     |  
     |  image = general photo of the industry logo, must be present
     |  
     |  dividends = percent of industry given to shareholders, must be present
     |  
     |  change1d = percent change of industry for one day, must be present
     |  
     |  marketCap = value of the industry, must be present
     |  
     |  volume = number of shares traded in this industry in one day, must be present
     |  
     |  sector_name = higher category of the industry, uses name from sectors table
     |  
     |  industry_companies = companies inside this industry, use backreference from companies (one (industry) to many (companies))
     |  
     |  Method resolution order:
     |      Industries
     |      sqlalchemy.orm.decl_api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  change1d
     |  
     |  dividends
     |  
     |  image
     |  
     |  industry_companies
     |  
     |  marketCap
     |  
     |  name
     |  
     |  sector_name
     |  
     |  volume
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x2411a0e7f90; Industries>
     |  
     |  __table__ = Table('industries', MetaData(), Column('name', S...sectors...
     |  
     |  __tablename__ = 'industries'
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  query
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  __abstract__ = True
     |  
     |  __fsa__ = <SQLAlchemy>
     |  
     |  metadata = MetaData()
     |  
     |  query_class = <class 'flask_sqlalchemy.query.Query'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with some extra methods
     |      useful for querying in a web application.
     |      
     |      This is the default query class for :attr:`.Model.query`.
     |      
     |      .. versionchanged:: 3.0
     |          Renamed to ``Query`` from ``BaseQuery``.
     |  
     |  
     |  registry = <sqlalchemy.orm.decl_api.registry object>
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self) -> 'str'
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  __weakref__
     |      list of weak references to the object (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __annotations__ = {'__fsa__': 't.ClassVar[SQLAlchemy]', 'query': 't.Cl...
    
    class Sectors(sqlalchemy.orm.decl_api.Model)
     |  Sectors(**kwargs)
     |  
     |  name = name of the sector, must be present
     |  
     |  image = general photo of the sector logo, must be present
     |  
     |  dividends = percent of sector given to shareholders, must be present
     |  
     |  change1d = percent change of sector for one day, must be present
     |  
     |  marketCap = value of the sector, must be present
     |  
     |  volume = number of shares traded in this sector in one day, must be present
     |  
     |  sector_companies = companies inside this sector, use backreference from companies (one (sector) to many (companies))
     |  
     |  sector_industries = industries inside this sector, use backreference from companies (one (sector) to many (industries))
     |  
     |  Method resolution order:
     |      Sectors
     |      sqlalchemy.orm.decl_api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  change1d
     |  
     |  dividends
     |  
     |  image
     |  
     |  marketCap
     |  
     |  name
     |  
     |  sector_companies
     |  
     |  sector_industries
     |  
     |  volume
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x2411a0fe750; Sectors>
     |  
     |  __table__ = Table('sectors', MetaData(), Column('name', Stri...), tabl...
     |  
     |  __tablename__ = 'sectors'
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  query
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.orm.decl_api.Model:
     |  
     |  __abstract__ = True
     |  
     |  __fsa__ = <SQLAlchemy>
     |  
     |  metadata = MetaData()
     |  
     |  query_class = <class 'flask_sqlalchemy.query.Query'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with some extra methods
     |      useful for querying in a web application.
     |      
     |      This is the default query class for :attr:`.Model.query`.
     |      
     |      .. versionchanged:: 3.0
     |          Renamed to ``Query`` from ``BaseQuery``.
     |  
     |  
     |  registry = <sqlalchemy.orm.decl_api.registry object>
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self) -> 'str'
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  __weakref__
     |      list of weak references to the object (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __annotations__ = {'__fsa__': 't.ClassVar[SQLAlchemy]', 'query': 't.Cl...

DATA
    app = <Flask 'models'>
    db = <SQLAlchemy>
    password = 'Three530722!'
    urlVar = 'postgresql://postgres:Three530722!@localhost:5432/stonkr'

FILE
    c:\users\shaya\documents\sweii-group2\models.py


